
body {
  padding-top: 50px;
}

.starter-template {
  padding: 40px 15px;
  text-align: center;
}

.pricingTable{
    font-family: 'Poppins', sans-serif;
    text-align: center;
    margin: 0 10px;
    position: relative;
    z-index: 1;
	}
	.pricingTable:before{
    content: '';
    background-color: #1c3340;
    border-radius: 30px;
    position: absolute;
    left: 0;
    top: 30px;
    bottom: 20px;
    right: 0;
    z-index: -1;
	}
	.pricingTable .pricingTable-header{
    color: #fff;
    background: #F55C78;
    width: 80%;
    padding: 30px 10px 40px;
    margin: 0 auto 30px;
    border-radius: 20px 20px 0 0;
    border-bottom: 7px solid #052130;
	}
	.pricingTable .title{
    font-size: 35px;
    font-weight: 300;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin: 0;
	}
	.pricingTable .price-value{
    color: #F55C78;
    background: #fff;
    font-size: 45px;
    font-weight: 600;
    width: 100px;
    height: 100px;
    line-height: 103px;
    margin: 0 auto 15px;
    border-radius: 50%;
	}
	.pricingTable .pricing-content{
    padding: 0;
    margin: 0 0 25px;
    list-style: none;
    display: inline-block;
	}
	.pricingTable .pricing-content li{
    color: #fff;
    font-size: 17px;
    line-height: 43px;
    text-transform: uppercase;
    padding: 0 10px;
    border-bottom: 1px solid #fff;
	}
	.pricingTable .pricing-content li:last-child{ border-bottom: none; }
	.pricingTable .pricingTable-signup a{
    color: #fff;
    background: #F55C78;
    font-size: 23px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 7px 18px 5px;
    border-radius: 15px;
    display: inline-block;
    transition: all 0.3s;
	}
	.pricingTable .pricingTable-signup a:hover{
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 0 5px #1c3340;
	}
	.pricingTable.blue .pricingTable-header,
	.pricingTable.blue .pricingTable-signup a{
    background: #239EFE;
	}
	.pricingTable.blue .price-value{ color: #239EFE; }
	.pricingTable.purple .pricingTable-header,
	.pricingTable.purple .pricingTable-signup a{
    background: #744EA5;
	}
	.pricingTable.purple .price-value{ color: #744EA5; }
	@media only screen and (max-width: 990px){
    .pricingTable{ margin: 0 0 40px; }
	}
	License Terms


